<div class="border rounded p-3">
  <h3>Post a Comment</h3>
  <%= form_for [ @article, @comment ] do |f| %>
    <div class="form-group">
      <%= f.label :author_name, 'Your name' %><br/>
      <%= f.text_field :author_name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :body, 'Your comment' %><br/>
      <%= f.text_area :body, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.submit 'Submit', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>