<%= form_for(@article, html: {multipart: true}) do |f| %>
  <ul>
  <% @article.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
  <div class="form-group">
    <%= f.label :title, 'Article Title' %><br />
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :body, 'Article Body' %><br />
    <%= f.text_area :body, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :tag_list, 'Tags' %><br />
    <%= f.text_field :tag_list, class: 'form-control' %>
  </div>
  <div class="form-group">
    <% if @article.image.exists? %>
        <%= image_tag @article.image.url %><br/>
    <% end %>
    <%= f.label :image, "Attach a New Image" %><br />
    <%= f.file_field :image, class: 'form-control-file' %>
  </div>
  <div class="form-group">
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
  </div>
  <%= link_to '<< Back to articles list', articles_path, class: 'btn btn-primary' %>
<% end %>